.search {
  color: lightgray;
}

.search__content {
  margin: 10px;
}

.search__content__name {
  display: flex;
  justify-content: space-around;
}

.search__content__pokemon {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

#pokedex-image {
  height: 100px;
  width: 100px;
}