.team {
  color: lightgray;
}

.team__list {
  list-style-type: none;
}

.team__ul__li {
  display: flex;
  justify-content: space-between;
  margin: 0 5% 2% 5%;
}

.team__ul__li:first-of-type {
  margin-top: 5%;
}

.team__remove-button {
  background-color: orange;
  cursor: pointer;
  margin-left: 10%;
}
