.footer {
  align-items: center;
  background-color: darkred;
  color: lightgray;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 6%;
}

a:link {
  color: lightgray;
  text-decoration: none;
}

a:hover {
  color: orange;
  text-decoration: none;
}