.above-screen {
  display: flex;
  height: 15%;
}

.above-screen__section {
  height: 100%;
  width: 100px;
  flex: 1;
}

.above-screen__section:first-of-type {
  border-bottom: 2px solid black;
}

.above-screen__section__light-container {
  background-color: lightgray;
  border-radius: 50%;
  height: 125px;
  margin: 7px auto;
  position: relative;
  width: 125px;
}

.above-screen__section__light {
  background-color: rgb(106, 148, 255);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.above-screen__section__button__container {
  display: flex;
  height: 50%;
  justify-content: center;
  width: 100%;
}

.above-screen__section__button {
  border-radius: 50%;
  height: 25px;
  margin: auto 0;
  width: 25px; 
}

.above-screen__section__button:first-of-type {
  background-color: orange;
  margin-right: 10px;
}

.above-screen__section__button:last-of-type {
  background-color: black;
  margin-left: 10px;
}

.above-screen__section__line {
  height: 50%;
  width: 100%;
}

.above-screen__section__line:first-of-type {
  border-bottom: 1px solid black;
}

.above-screen__section__line:last-of-type {
  border-top: 1px solid black;
}